{
    "dataset": {
        "seq2seq" : {
            "inputs": "text",
            "targets": "expected"
        }
    },
    "results" : {
        "original" : "Original",
        "predicted" : "Corrected",
        "expected" : "Expected"
    },

    "fix_zwj": {
        "mbart": true, 
        "mt5": true,
        "mt5-xl": true,
        "xlmr": false,
        "gemma": false,
        "sinbert": false,
        "llama-I": false,
        "llama-B": false
    }
}